# ------------------------------------
# 제외하고 싶은 특정 폴더와 파일 목록
# ------------------------------------

.vscode/   # VS Code 설정 폴더 제외
bin/       # 컴파일/빌드 결과 폴더 제외
lib/       # 라이브러리 폴더 제외

# 기타 개발/시스템 파일
.DS_Store
Thumbs.db
__pycache__/
*.pyc
